
<div class='navbar-static-top nav-tabs nav navbar-inverse'>
  <div class='container'>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="/">Home</a></li>
      <li role="presentation"><a href="tree">Trees</a></li>
      <li role="presentation"><a href="#">About</a></li>
    </ul>
  </div>
</div>


{{outlet}}
