{{outlet}}


<div class='navbar-static-top nav-tabs nav navbar-inverse'>
  <div class='container'>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="/">Home</a></li>
    </ul>
  </div>
</div>

<div class='navbar navbar-inverse navbar-fixed-bottom'>
  <button type="button" id='footButton' class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Add tree</button>
</div>

<div id="new-tree">
  {{new-tree save2="save3"}}
</div>

<div class=container>
<h1>Here are the following trees that people that reviewed:</h1>
  <div class='row'>
    <div id="trees">
      {{#each model as |tree|}}
        {{tree-tile tree=tree update="update" destroyPost="destroyPost"}}
      {{/each}}
    </div>
  </div>
</div>
